extends ../base.pug

block titleSite
    title= pages.home.title 

block variables
    - var pageClass = "page-home";

block content

    section.section.section-slider
        .swiper-container.swiper-home
            .swiper-wrapper
                each slide in slider
                    .swiper-slide.swiper-home__slide
                        img(src=slide.image).swiper-home__photo
                        .swiper-home__content
                            .swiper-home__subTitle= slide.subTitle
                            .swiper-home__title= slide.title
                            .swiper-home__text= slide.text
                            .swiper-home__btn= slide.btnText
            .swiper-pagination.swiper-home__pagination
            .swiper-button-prev.swiper-home__btn-nav
            .swiper-button-next.swiper-home__btn-nav

    section.section.section-about
        .container-fluid
            .row.about
                each item in about
                    .col-lg-3.about-item
                        svg.about-item__icon
                            use(xlink:href="/img/sprite.svg#"+item.icon)
                        h3.about-item__title= item.title
                        .about-item__desc= item.desc

    section.section.section-variation
        .container-fluid
            .row
                .col-lg-12
                    h2= variation.title
                    p !{variation.desc}
                .col-lg-12
                    .browser.section-variation__browser
                        each photoUrl in variation.browserImg
                            |
                            |
                            a(class="fancybox", href=photoUrl, data-fancybox="browser")
                                img(class="browser__img browser__img_"+photoUrl.match(/\w+/g)[2], src=photoUrl)

    section.section.section-sale
        .container-fluid
            .row.align-item-center
                .col-lg-8
                    h2.section-sale__title <span>Waxom</span>  Multipurpose WordPress Theme
                    div.section-sale__text Don't Forget to Rate the Template. Thanks so much!
                .col-lg-4
                    a(href="#").section-sale__btn Purchase Now

    section.section.section-project
        .container-fluid
            .row
                .col-lg-12
                    h2 Our Latest Projects.
                    .section-project__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. <br> Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium. 

                    .swiper-container.swiper-project
                        .swiper-pagination.swiper-project__pagination  
                        .swiper-wrapper.swiper-project__wrapper
                            each tab in tabProjects
                                div(data-title=tab.slideName).swiper-slide.swiper-project__slide
                                    .row
                                        each project in tab.projects
                                            .col-lg-4
                                                article.card-project
                                                    .card-project__photo-wrpaper
                                                        img(src=project.img).card-project__photo
                                                        .card-project__hover-content
                                                            a(href="#")
                                                                svg.card-project__icon
                                                                    use(xlink:href="/img/sprite.svg#share-icon")
                                                            a(href="#")
                                                                svg.card-project__icon
                                                                    use(xlink:href="/img/sprite.svg#lupa-icon")    

                                                    .card-project__content
                                                        h3.card-project__title= project.title
                                                        .card-project__type= project.type 
                                    if tab.projects.length > 5
                                        a(class="swiper-project__more" href="#") load more

    section.section.section-presentation
        .section-presentation__content
            svg.section-presentation__icon#btn-play
                use(xlink:href="/img/sprite.svg#play-icon")
            h2.section-presentation__title Waxom Video Presentation
            p Investigationes demonstraverunt lectores legere me lius quod ii legunt <br> saepius, qui sequitur mutationem consuetudium.
            .section-presentation__time
        video.section-presentation__video#movie
            source(src="/video/notebook.mp4", type="video/mp4")