extends ../base.pug

block titleSite
    title= pages.home.title 

block variables
    - var pageClass = "page-home";

block content

    section.section.section-slider
        .swiper-container.swiper-home
            .swiper-wrapper
                each slide in slider
                    .swiper-slide.swiper-home__slide
                        img(src=slide.image).swiper-home__photo
                        .swiper-home__content
                            .swiper-home__subTitle= slide.subTitle
                            .swiper-home__title= slide.title
                            .swiper-home__text= slide.text
                            .swiper-home__btn= slide.btnText
            .swiper-pagination.swiper-home__pagination
            .swiper-button-prev.swiper-home__btn-nav
            .swiper-button-next.swiper-home__btn-nav

    section.section.section-about
        .container-fluid
            .row.about
                each item in about
                    .col-md-3.col-6.about-item
                        svg.about-item__icon
                            use(xlink:href="/img/sprite.svg#"+item.icon)
                        h3.about-item__title= item.title
                        .about-item__desc= item.desc

    section.section.section-variation
        .container-fluid
            .row
                .col-lg-12
                    h2= variation.title
                    p !{variation.desc}
                .col-lg-12
                    .browser.section-variation__browser
                        each photoUrl in variation.browserImg
                            |
                            |
                            a(class="fancybox", href=photoUrl, data-fancybox="browser")
                                img(class="browser__img browser__img_"+photoUrl.match(/\w+/g)[2], src=photoUrl)

    section.section.section_bg_dark.section-sale
        .container-fluid
            .row.align-item-center
                .col-lg-8
                    h2.section-sale__title <span>Waxom</span>  Multipurpose WordPress Theme
                    div.section-sale__text Don't Forget to Rate the Template. Thanks so much!
                .col-lg-4
                    a(href="#").section-sale__btn Purchase Now

    section.section.section-project
        .container-fluid
            .row
                .col-lg-12
                    h2 Our Latest Projects.
                    .section-project__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. <br> Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium. 

                    .swiper-container.swiper-project
                        .swiper-pagination.swiper-project__pagination  
                        .swiper-wrapper.swiper-project__wrapper
                            each tab in tabProjects
                                div(data-title=tab.slideName).swiper-slide.swiper-project__slide
                                    .row
                                        each project in tab.projects
                                            .col-lg-4.col-sm-6
                                                article.card-project
                                                    .card-project__photo-wrpaper
                                                        img(src=project.img).card-project__photo
                                                        .card-project__hover-content
                                                            a(href="#")
                                                                svg.card-project__icon
                                                                    use(xlink:href="/img/sprite.svg#share-icon")
                                                            a(href="#")
                                                                svg.card-project__icon
                                                                    use(xlink:href="/img/sprite.svg#lupa-icon")    

                                                    .card-project__content
                                                        h3.card-project__title= project.title
                                                        .card-project__type= project.type 
                                    if tab.projects.length > 5
                                        a(class="swiper-project__more" href="#") load more

    section.section.section-presentation
        .section-presentation__content
            svg.section-presentation__icon#btn-play
                use(xlink:href="/img/sprite.svg#play-icon")
            h2.section-presentation__title Waxom Video Presentation
            p Investigationes demonstraverunt lectores legere me lius quod ii legunt <br> saepius, qui sequitur mutationem consuetudium.
            .section-presentation__time
        video.section-presentation__video#movie
            source(src="/video/notebook.mp4" type="video/mp4")

    section.section.section-mobile
        .container-fluid
            .row.section-mobile__row
                .col-md-5
                    img(src="/img/iphone-in-hand.png").section-mobile__photo
                .col-md-7.col-sm-12
                    h2.section-mobile__title Excellent for Mobile Devices.
                    div.section-mobile__text Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                    ul.section-mobile-list
                        li.section-mobile-list__item Nam liber tempor cum soluta nobis eleifend option;
                        li.section-mobile-list__item Option congue nihil imperdiet doming id quod mazim placerat facer;
                        li.section-mobile-list__item Eodem modo typi, qui nunc nobis videntur parum futurum;
                        li.section-mobile-list__item Investigationes demonstraverunt lectores
    
    section.section.section_bg_dark.section-advantage
        .container-fluid
            .section-advantage__row
                each advantage in advantages
                    .section-advantage-item
                        svg.section-advantage-item__icon
                            use(xlink:href="/img/sprite.svg#"+advantage.icon)
                        .section-advantage-item__count= advantage.count
                        .section-advantage-item__title= advantage.title
    
    section.section.section-recent-posts
        .container-fluid
            .row
                .col-lg-12
                    h2.section-recent-posts__title= recentPosts.title
                    .section-recent-posts__desc !{recentPosts.desc}

                    .swiper-container.swiper-recent-posts
                        .swiper-wrapper
                            each post in recentPosts.posts
                                .swiper-slide.swiper-recent-posts__slide
                                     article.card-post
                                        .card-post__photo-wrpaper
                                            img(src=post.photo).card-post__photo
                                            .card-post__date
                                                span= post.date.split(' ')[1]
                                                span= post.date.split(' ')[0].substr(0, 3)
                                        .card-post__content
                                            h3.card-post__title= post.title
                                            .card-post__desc= post.desc
                                            a(href="#").card-post__more= post.moreBtn
                        .swiper-button-prev.swiper-recent-posts__btn-nav.swiper-recent-posts__btn-nav_prev
                        .swiper-button-next.swiper-recent-posts__btn-nav.swiper-recent-posts__btn-nav_next

    section.section.section-partners
        .container-fluid
            .row.section-partners__row
                each val in partners
                    .col-md-3.col-6.section-partners__item
                        img(src=val).section-partners__photo
