extends ../base.pug

block titleSite
    title= pages.home.title 

block variables
    - var pageClass = "page-home";

block content
    section.section.section-slider
        .swiper-container.swiper-home
            .swiper-wrapper
                each slide in slider
                    .swiper-slide.swiper-home__slide
                        img(src=slide.image).swiper-home__photo
                        .swiper-home__content
                            .swiper-home__subTitle= slide.subTitle
                            .swiper-home__title= slide.title
                            .swiper-home__text= slide.text
                            .swiper-home__btn= slide.btnText
            .swiper-pagination.swiper-home__pagination
            .swiper-button-prev.swiper-home__btn-nav
            .swiper-button-next.swiper-home__btn-nav
