extends ../base.pug

block titleSite
    title= pages.home.title 

block variables
    - var pageClass = "page-home";

block content

    section.section.section-slider
        .swiper-container.swiper-home
            .swiper-wrapper
                each slide in slider
                    .swiper-slide.swiper-home__slide
                        img(src=slide.image).swiper-home__photo
                        .swiper-home__content
                            .swiper-home__subTitle= slide.subTitle
                            .swiper-home__title= slide.title
                            .swiper-home__text= slide.text
                            .swiper-home__btn= slide.btnText
            .swiper-pagination.swiper-home__pagination
            .swiper-button-prev.swiper-home__btn-nav
            .swiper-button-next.swiper-home__btn-nav

    section.section.section-about
        .container-fluid
            .row.about
                each item in about
                    .col-lg-3.about-item
                        svg.about-item__icon
                            use(xlink:href="/img/sprite.svg#"+item.icon)
                        h3.about-item__title= item.title
                        .about-item__desc= item.desc

    section.section.section-variation
        .container-fluid
            .row
                .col-lg-12
                    h2= variation.title
                    p !{variation.desc}
                .col-lg-12
                    .browser.section-variation__browser
                        each photoUrl in variation.browserImg
                            a(class="fancybox", href=photoUrl, data-fancybox="browser")
                                img(class="browser__img browser__img_"+photoUrl.match(/\w+/g)[2], src=photoUrl)
